<div class="heading"><h1>Welcome to Holiday World!</h1></div>

<div class="content">
    <h3>We are home to some pretty insane rides for all ages. If you'd like to check the requirements, simply login or create an account to snag some tickets and see what you and the family are viable for! We have a ride for just about everyone. Cheers!</h3>
</div>

<br><br>

<div class="content">
    <%= link_to "Login", signin_path  %> || <%= link_to "Sign Up", new_user_path %>
</div>


